<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body style="background-color: white; width: 100%; font-family: 'Roboto Condensed', 'sans-serif;'; margin: 0; padding: 0;">

<div style="text-align:center;
                margin:auto; color:#750e0e;
                background-image: linear-gradient(#048a24, white);
                color:white;
                opacity:0.95;
                height: 40px;
                margin: 0;
                padding: 0;">
</div>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="user : ${users}">
            <td><a th:href="${user.self}" th:text="${user.id}"></a></td>
            <td th:text="${user.firstName}"></td>
            <td th:text="${user.lastName}"></td>
        </tr>
    </tbody>
</table>

</body>
</html>