<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body style="background-color: white; width: 100%; font-family: 'Roboto Condensed', 'sans-serif;'; margin: 0; padding: 0;">

<div style="text-align:center;
                margin:auto; color:#750e0e;
                background-image: linear-gradient(#048a24, white);
                color:white;
                opacity:0.95;
                height: 40px;
                margin: 0;
                padding: 0;">
</div>

<div style="text-align: center; font-size: 40px; margin-top: 25px; margin-bottom: 15px;">
    User Profile
</div>

<div style="text-align: center; margin: auto; width: 100%; margin-bottom: 25px;">
    <div><b>FIRST NAME</b> <div th:text="${user.firstName}"/></div><br/>
    <div><b>LAST NAME</b> <div th:text="${user.lastName} ?: 'N/A'"/></div><br/>
    <div><b>CONTACT METHODS</b>
        <div th:each="contactMethod : ${user.contactMethods}">
            <b><div th:text="${contactMethod.display}"/></b>
            <div th:text="${contactMethod.summary}"/>
            <div th:text="${contactMethod.value}"/>
            <br/>
        </div>
    </div><br/>
</div>

<div style="text-align: center; margin: auto; width: 100%;">
    <a th:href="@{/}">Go Back to User List</a>
</div>

</body>
</html>